   # INTRO TO JUPYTER NOTEBOOK

In [ ]:
Number: 9324387590

In [ ]:
INTRO TO JUPYTER NOTEBOOK
# CMD
# 2. jupyter notebook > this service/ widow should always be running
# 3. default location > http://localhost:8888/tree
# 4. / means C:\ is root Folder
# 5. Create a new Python file

#Blue color - Command mode
#Green color - Edit mode
# Keyboard key X - to remove cell
# Keyboard key V - to add extra cell

 # INTRO TO NUMPY

In [ ]:
# https://numpy.org/doc/stable/user/quickstart.html#an-example

In [3]:
 WHY NUMPY???

In [3]:
a1 = [1,2,3,4,5,6,7,8,9]
print(a1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# to double the elements in the list a1
for i in a1:
    print (i * 2)

2
4
6
8
10
12
14
16
18

In [7]:
a2 = [i*2 for i in a1] #list comprehension
print(a2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# to square the elements in the list a1

In [10]:
print(a1)
for i in a1:
    print(i ** 2)  # ** - power

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
4
9
16
25
36
49
64
81

In [11]:
a3 = [i**2 for i in a1]
print(a3)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
Better approach??

In [18]:
import numpy as np

In [12]:
print("hello world")

hello world

In [15]:
name = "ARina"
print(name.casefold())

arina

In [19]:
arr1 = np.array(a1)

In [20]:
print(arr1)

[1 2 3 4 5 6 7 8 9]

In [21]:
print(a1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
a1*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
print(a1*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(arr1 * 2) # numpy supports elementwise operation

In [24]:
print(arr1 * 3)

[ 3  6  9 12 15 18 21 24 27]